[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
pyflakes = "*"

[packages]
ansible = "2.10"
ansible-lint = "*"
bumpversion = "*"
docker = "*"
molecule = "*"
tbump = "*"
yamllint = "*"

python_version = "3.8"
